<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />		
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="SelectAll" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>		
		<item type="g_start" />		
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="JustifyFull" />
		<item type="forecolor" />
		<item type="backcolor" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />		
		<item type="dropmenu" name="Paste" group="PasteGroup"/>
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertImage" imagename="eximage" />
		<item type="image" name="InsertDate" imagename="insertdate" />
		<item type="image" name="InsertTime" imagename="timer" />
		<item type="image" name="InsertDocument" imagename="document" />
		<item type="holder" name="insertcustombutonhere" />
		<item type="g_end" />	
	</toolbars>
</configuration>