A:link {
	COLOR: #2150A8;TEXT-DECORATION: none
}
A:active {
	COLOR: #2150A8;TEXT-DECORATION: none
}
A:visited {
	COLOR: #2150A8;TEXT-DECORATION: none
}
A:hover {
	COLOR: #CC0000;TEXT-DECORATION: none
}


.unnamed1 {
	font-family: "方正黑体简体";
	font-size: 11pt;
	font-weight: bold;
	color: #E50001;
}
.table{border-collapse:collapse;}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	text-indent: 20pt;
	white-space: normal;
	line-height: 14pt;
}
.whitetitle {
	font-family: "方正黑体简体";
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-indent: 10pt;
}
.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 130%;
	color: #000000;
	text-decoration: none;
}
.barlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	height: 14px;
	width: 160px;
}
.text_w {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	color: #000000;
	text-decoration: none;
}
.bluetitle {
	font-family: "方正黑体简体";
	font-size: 11pt;
	color: #003399;
	text-decoration: none;
}
.barbar {
	font-family: "方正黑体简体";
	font-size: 14pt;
	font-weight: bold;
	color: #FF9933;
}
.barbar1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
