<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections><appSettings>
		<!-- 管理员 -->
		<add key="ERPReportSystem" value="founderpcb\zhangjisi,founderpcb\xuxm,founderpcb\chentb,founderpcb\liudl1,founderpcb\yuanms,Founderpcb\caishaofeng,Founderpcb\licong,Founderpcb\sunwei2,Founderpcb\yanlehui,Founderpcb\lilh,Founderpcb\liangyong,Founderpcb\likeqin,founderpcb\yangzhixuan,founderpcb\cuiguokun,Founderpcb\qinling,founderpcb\liangyu,founderpcb\yangwm,"/>
		<!-- 管理员 报表删除功能 （上面的子集）-->
		<add key="ERPReportSystemCanDelete" value="founderpcb\chencheng,founderpcb\yuanms,founderpcb\yanlehui,Founderpcb\lilh,Founderpcb\liangyong,Founderpcb\liangyong,"/>
		<!-- 特殊用户1 [最大权限]全部报表和跨平台访问 -->
		<add key="ERPReportSystemSupper" value="founderpcb\liuyuxiao,Founderpcb\gaojy,"/>
		<!-- 特殊用户2 [内部权限]可看富山全部报表 -->
		<add key="ERPReportSpecialUser" value="founderpcb\shanghx,founderpcb\liuyuxiao,Founderpcb\gaojy,"/>
		<!-- 特殊用户3 [跨平台权限]可以访问多层平台和富山平台 -->
		<add key="ERPReportMixPlatFormUser" value="founderpcb\fangxh,founderpcb\liuchunting,"/>
		<!-- 特殊用户4 [行政部会议室系统管理权限]可以管理行政部会议室系统 -->
		<add key="WEBExecutiveDeptUser" value="founderpcb\cuiguokun,founderpcb\pengting,founderpcb\liangyu,"/>
		<add key="UserPhotoFile" value="/Admin/Images/UserPhoto/"/>
		<add key="DomainName" value="LDAP://DC=founderpcb,DC=com"/>
		<add key="NameOfLoginAD" value="k2service"/>
		<add key="PWDofLoginAD" value="bianli"/>
		<add key="K2Server" value="provider=sqloledb.1;Data Source=pcbk2srv01;Initial Catalog=founderflow;User ID=k2user;password=k2user@founderpcb.com"/>
		<!-- SQL ReportServer的地址-->
		<add key="SQLReportServerUrl" value="http://pcb"/>
		<!-- 是否启用SQL ReportServer地址转换: 启用:true,不启用:其他-->
		<add key="IsUsedSQLReportServerUrl" value="true"/>
		<add key="dbServer" value="provider=sqloledb.1;Data Source=pcbweb01;Initial Catalog=FIData;User ID=info;password=info@founderpcb"/>
		<add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/Web" value="1866;True;4344;1"/>
		<add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup"/>
		<add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.ChannelName" value="ea46d830-9d31-4171-9b66-bdfa4acc30bf"/>
	</appSettings>
	<connectionStrings>
		<add name="FIDataConnectionString" connectionString="Max Pool Size=500; Data Source=pcbweb01;Initial Catalog=FIDataNew;User ID=info;Password=info@founderpcb" providerName="System.Data.SqlClient"/>
		<!--<add name="FIDataConnectionString" connectionString="Data Source=.;Initial Catalog=FIDataNew;User ID=sa;Password=" providerName="System.Data.SqlClient" />
    
    
    -->
		<add name="ERPConnectionString" connectionString="Data Source=pcberp01;Initial Catalog=Live;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<add name="HRForHDIConnectionString" connectionString="Data Source=pcbdb;Initial Catalog=AIS20071011154918;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 富山 数据库连接 目前作为测试用-->
		<add name="1" connectionString="Max Pool Size=500; Data Source=pcberprs;Initial Catalog=CAR;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 多层 数据库连接 -->
		<add name="2" connectionString="Data Source=dcerp01;Initial Catalog=sample;User ID=liudl;Password=liudl123" providerName="System.Data.SqlClient"/>
		<!-- 越亚 数据库连接 -->
		<add name="3" connectionString="Data Source=acserp01;Initial Catalog=test;User ID=developer;Password=system" providerName="System.Data.SqlClient"/>
		<!-- 杭州 数据库连接 -->
		<add name="4" connectionString="Data Source=pcberp01;Initial Catalog=Test;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 重庆 数据库连接 -->
		<add name="5" connectionString="Data Source=cqerp04;Initial Catalog=SAMPLE;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 快板厂 数据库连接 -->
		<add name="6" connectionString="Data Source=pcberp01;Initial Catalog=kbtest;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 事业部 数据库连接 -->
		<add name="98" connectionString="Max Pool Size=500; Data Source=pcbit-live01;Initial Catalog=test;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 中央平台 数据库连接 -->
		<add name="97" connectionString="Data Source=pcberp01;Initial Catalog=samp;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
		<!-- 测试区 数据库连接 -->
		<add name="100" connectionString="Data Source=pcbdb;Initial Catalog=AIS20071011154918;User ID=reportAdmin;Password=reportAdmin#" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Infragistics2.WebUI.UltraWebGrid.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!--<add assembly="Infragistics2.WebUI.UltraWebTab.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Infragistics2.WebUI.WebDataInput.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Enterprise.ASPNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="8.0.0.0" href="file:///D:/Program%20Files/Microsoft%20Visual%20Studio%208/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.ASPNetHelper.DLL"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding>
	</runtime>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="OptionInfer" value="true"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer></configuration>
